<div class="container">
  <header>
    <h1>תביעת על: {{ process.superClaim.superClaimNum }}</h1>
    <h3>מצב תביעה: {{ process.superClaim.superClaimStatus.value }}</h3>
    <button class="btn" (click)="resetForm()">רענון התהליך</button>
  </header>
  <app-info-summary [insured]="process.insured"></app-info-summary>

  <app-contacts-summary (addRowExisting)="addRowExisting()"></app-contacts-summary>
  <app-contacts [contactPersons]="process.contactPersons"></app-contacts>
  <footer>
    <button [disabled]="formVaild" class="btn" type="submit" class="btn" (click)="printVaildForm()">המשך
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
  </footer>
</div>
